body {
  background-color: seashell

}
hr {
border-style: none;
border-top-style: dotted;
border-color: powderblue;
border-width: 5px;
width: 5%;
}
h1 {
  color: royalblue;
  font-style: italic;
  font-weight: bold;
}
h3 {
  color: royalblue;
}
